body{margin-top:20px;}	
#page-wrapper {
    padding: 15px 25px;
}
.card {
    margin-bottom: 20;
}

.manager{
    display:none;
}

table{
    width:inherit;
}
td{
    word-break:break-all;
}
label{
    display:block !important;
}